[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/NominisYS
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/NominisYS
	label-Verified = -1..+1 group user/NominisYS
	push = group user/NominisYS
	read = group user/NominisYS
	rebase = group user/NominisYS
	removeReviewer = group user/NominisYS
	submit = group user/NominisYS
[access "refs/heads/*"]
	create = group user/NominisYS
	push = +force group user/NominisYS
	pushMerge = group user/NominisYS
	read = group user/NominisYS
[access "refs/tags/*"]
	push = group user/NominisYS
	push = +force group user/NominisYS
